{:deps
 ["https://auth.example.org/operations/oauth/register-client"
  "https://auth.example.org/permissions/system/register-client"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/oauth/register-client"
  :juxt.site/input
  {:juxt.site/client-id "{{client-id}}"
   :juxt.site/client-type "{{client-type}}"
   :juxt.site/origin "{{origin}}"
   :juxt.site/authorization-server "{{authorization-server}}"
   :juxt.site/resource-server "{{resource-server}}"
   :juxt.site/redirect-uris #juxt.param "redirect-uris"
   :juxt.site/scope #juxt.param "scope"}}}
