{:deps
 ["https://auth.example.org/operations/oauth/register-client"
  "https://auth.example.org/permissions/system/register-client"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/oauth/register-client"
  :juxt.site/input
  {:juxt.site/client-id "test/public-read-write-scope-app"
   :juxt.site/client-type "public"
   :juxt.site/origin "https://public-read-write-scope-app.test.com"
   :juxt.site/authorization-server "https://auth.example.org"
   :juxt.site/resource-server "https://data.example.org"
   :juxt.site/redirect-uris ["https://public-read-write-scope-app.test.com/redirect.html"]
   :juxt.site/scope #{"https://auth.example.org/scopes/test/read"
                      "https://auth.example.org/scopes/test/write"}}}}
