{:deps
 ["https://auth.example.org/actions/install-openid-callback-endpoint"
  "https://auth.example.org/permissions/system/install-openid-callback-endpoint"
  "{{session-scope}}"
  "{{client-configuration}}"
  ;; Having established this callback, allow all callers to initiate the action
  ;; associated with the GET method.
  "https://auth.example.org/permissions/openid/exchange-code-for-id-token"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/action-id "https://auth.example.org/actions/install-openid-callback-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/openid-client-configuration "{{client-configuration}}"
   :juxt.site/session-scope "{{session-scope}}"}}}
