{:deps
 [{:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/operations/oauth/register-application"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/permissions/system/register-application"}
]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/oauth/register-application"
  :juxt.site/input
  {:juxt.site/client-id "test/public-read-scope-app"
   :juxt.site/client-type "public"
   :juxt.site/authorization-server "https://auth.example.org"
   :juxt.site/resource-server "https://data.example.org"
   :juxt.site/redirect-uris ["https://public-read-scope-app.test.com/redirect.html"]
   :juxt.site/scope #{"https://auth.example.org/scopes/test/read"}}}}
