{:deps
 ["https://auth.example.org/operations/oauth/register-application"
  "https://auth.example.org/permissions/system/register-application"
  "https://auth.example.org/scopes/system/read"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/oauth/register-application"
  :juxt.site/input
  {:juxt.site/client-id "global-scope-app"
   :juxt.site/client-type "public"
   :juxt.site/origin "https://global-scope-app.example.test"
   :juxt.site/authorization-server "https://auth.example.org"
   :juxt.site/resource-server "https://data.example.org"
   :juxt.site/redirect-uris ["https://global-scope-app.example.test/callback"]}}}
