{:deps
 ["https://auth.example.org/operations/register-openid-issuer"
  "https://auth.example.org/permissions/system/register-openid-issuer"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/register-openid-issuer"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/issuer "{{iss}}"}}}
