{:deps ["https://auth.example.org/operations/put-template"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-template"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operation-uri "https://auth.example.org/operations/get-unprotected-resource"}}

   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content #juxt.template #juxt.include "document-base.html"}}}
