;; See https://book.babashka.org/#tasks
{:min-bb-version "0.6.2"
 :paths ["bb"]
 :deps {io.github.lispyclouds/bblgum {:git/sha "7ebae0e2231899fe2a6ad44bc9ef5fca64099fcd"}}
 :tasks
 {:requires (juxt.site
             juxt.installer-tree
             [clojure.core.async :as async])

  reset {:doc "Factory reset"
         :task (juxt.site/reset)}

  bootstrap {:doc "Bootstrap system"
             :task (juxt.site/bootstrap)}

  ls {:task (juxt.site/ls)}

  openid {:task (juxt.site/openid)}
  system-api {:task (juxt.site/system-api)}
  auth-server {:task (juxt.site/auth-server)}
  add-user {:task (juxt.site/add-user)}
  grant-role {:task (juxt.site/grant-role)}
  register-swagger-ui {:task (juxt.site/register-swagger-ui)}
  register-hindsite {:task (juxt.site/register-hindsite)}

  test {:task (do
                (juxt.site/reset)
                (juxt.site/bootstrap)
                (juxt.site/openid
                 {:iss "https://juxt.eu.auth0.com"
                  :client-id "d8X0TfEIcTl5oaltA4oy9ToEPdn5nFUK"
                  :client-secret "gvk-mNdDmyaFsJwN_xVKHPH4pfrInYqJE1r8lRrn0gmoKI4us0Q5Eb7ULdruYZjD"})
                (juxt.site/system-api)

                (juxt.site/auth-server)

                (juxt.site/add-user
                 {:username "mal"
                  :fullname "Malcolm Sparks"
                  :iss "https://juxt.eu.auth0.com"
                  :nickname "malcolmsparks"})

                (juxt.site/register-application
                 {:client-id "swagger-ui"
                  :redirect-uri "https://swagger-ui.site.test/oauth2-redirect.html"})

                (juxt.site/register-application
                 {:client-id "surveyor"
                  :redirect-uri "https://surveyor.site.test/index.html"})

                (juxt.site/grant-role
                 {:username "mal"
                  :rolename "SystemReadonly"})
                )}

  installer-tree {:task (juxt.installer-tree/installer-tree)}

  ;;users {:task (juxt.site/users)}
  }}
