{:deps
 [{:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/operations/create-login-resource"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/permissions/system/create-login-resource"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/session-scopes/form-login-session"}
]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/create-login-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/session-scope "https://auth.example.org/session-scopes/form-login-session"}}}
