{:deps
 ["https://auth.example.org/operations/install-token-introspection-endpoint"
  "https://auth.example.org/permissions/system/install-token-introspection-endpoint"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/install-token-introspection-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/session-scope "{{session-scope}}"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content "
<!DOCTYPE html>
<html>
<head>
<title>Site Token Introspector</title>
<link rel='icon' href='data:,'>
</head>
<body>
<main>

<h1>Token Introspector</h1>
<p>Paste your JWT access token in the text area below to find if it's currently active.</p>
<p>This is a tool to help with debugging. It is an implementation of <a href='https://datatracker.ietf.org/doc/html/rfc7662'>RFC 7662</a>.</p>
<form method='POST'>
<label for='token'>Access Token (JWT)</label>
<textarea id='token' name='token' rows=10 cols=80>
</textarea>
<input type='submit' value='Introspect'>
</form>
</main>
</body>
</html>"}}}
