{:deps
 ["https://auth.example.org/_site/do-operation"
  "https://auth.example.org/_site/subjects/system"
  "https://auth.example.org/_site/operations/grant-permission"
  "https://auth.example.org/_site/permissions/system/bootstrap"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/_site/operations/grant-permission"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/operation "https://auth.example.org/_site/operations/get-not-found"
   :juxt.site/purpose nil}}}
