{:install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"

   ;; TODO: Doesn't this conflict with the state used for oauth requests?
   :juxt.site/state
   {:juxt.site.sci/program
    #juxt.pprint
    (let [scopes (map first (xt/q '{:find [id]
                                    :where [[e :xt/id id]
                                            [e :juxt.site/type "https://meta.juxt.site/types/scope"]
                                            ]}))]
      {"issuer" "https://auth.example.org"
       "authorization_endpoint" "https://auth.example.org/oauth/authorize"
       "token_endpoint" "https://auth.example.org/oauth/token"
       "jwks_uri" "https://auth.example.org/.well-known/jwks.json"
       ;; "registration_endpoint" "TODO"
        "scopes_supported" scopes
       "response_types_supported" ["code" "token"]
       "response_modes_supported" ["query" "fragment"]
       "grant_types_supported" ["authorization_code" "implicit" "password" "refresh_token"]
       "token_endpoint_auth_methods_supported" ["none"
                                                "client_secret_post"
                                                ;; TODO:
                                                ;; "client_secret_basic"
                                                ]
       "token_endpoint_auth_signing_alg_values_supported" ["RS256"]
       ;; "service_documentation" "TODO"
       ;; "ui_locales_supported" "TODO"
       ;; "op_policy_uri" "TODO"
       ;; "op_tos_uri" "TODO"
       ;; "revocation_endpoint" "TODO"
       ;; "revocation_endpoint_auth_methods_supported" "TODO"
       ;; "revocation_endpoint_auth_signing_alg_values_supported" "TODO"
       ;; "introspection_endpoint" "TODO"
       ;; "introspection_endpoint_auth_methods_supported" "TODO"
       ;; "introspection_endpoint_auth_signing_alg_values_supported"
       "code_challenge_methods_supported" ["S256"]})}

   :juxt.site/rules
   [
    [(allowed? subject operation resource permission)
     [permission :xt/id]]]}}}
