{:install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :juxt.site/description "Access the HTML form used to paste in an access token"

   :juxt.site/rules
   [
    ;; Anyone who is logged in can get this form
    [(allowed? subject operation resource permission)
     [subject :xt/id]]]}}}
