{:deps
 [{:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/operations/put-protection-space"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/permissions/system/put-protection-space"}
]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-protection-space"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/canonical-root-uri "https://data.example.org"
   :juxt.site/realm "Wonderland"        ; optional
   :juxt.site/auth-scheme "Basic"}}}
