{:deps
 ["https://auth.example.org/operations/oauth/install-metadata-endpoint"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/grant-permission"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/subject "https://auth.example.org/_site/subjects/system"
   :juxt.site/operation "https://auth.example.org/operations/oauth/install-metadata-endpoint"}}}
