{:linters
 {:unused-namespace {:exclude [clojure.tools.logging
                               clojure.pprint
                               juxt.site.logging
                               juxt.site.repl
                               juxt.site.test-helpers.fixture]}
  :unused-referred-var {:exclude {juxt.site.test-helpers.fixture [with-fixtures]
                                  clojure.pprint [pprint]
                                  juxt.site.logging [with-logging]
                                  clojure.test [deftest is are]}}}}
