{:deps
 ["https://auth.example.org/operations/register-password-based-user-identity"
  "https://auth.example.org/permissions/system/register-password-based-user-identity"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/register-password-based-user-identity"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/user "https://data.example.org/_site/users/{{username}}"
   :juxt.site/username "{{username}}"
   :juxt.site/password "{{password}}"
   :juxt.site/canonical-root-uri "https://data.example.org"}}}
