{:deps
 ["https://auth.example.org/operations/whoami"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/_site/operations/grant-permission"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/operation "https://auth.example.org/operations/whoami"
   :juxt.site/purpose nil
   :juxt.site/user "https://auth.example.org/users/{{username}}"}}}
