{:install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/action-id "https://auth.example.org/_site/actions/create-action"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :juxt.site/description "Get the summary details of all permissible actions"

   :juxt.site/state
   {:juxt.site.sci/program
    #juxt.pprint
    (map
     (fn [x] (select-keys x [:xt/id :juxt.site/description]))
     (juxt.site/allowed-actions {}))}

   :juxt.site/rules
   [
    ;; Anyone get call this API, and some actions are public
    [(allowed? subject action resource permission)
     [permission :xt/id]]

    #_[(allowed? subject action resource permission)
       [subject :juxt.site/user-identity id]
       [id :juxt.site/user user]
       [permission :juxt.site/role role]
       [role :juxt.site/type "https://auth.example.org/_site/types/role"]
       [role-assignment :juxt.site/type "https://auth.example.org/_site/types/role-assignment"]
       [role-assignment :juxt.site/role role]
       [role-assignment :juxt.site/user user]]]}}}
