{:deps
 ["{{session-scope}}"
  "https://auth.example.org/operations/oauth/install-authorize-endpoint"
  "https://auth.example.org/operations/oauth/authorize"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/oauth/install-authorize-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content "<p>Welcome to the Site authorize endpoint.</p>"
   :juxt.site/session-scope "{{session-scope}}"
   ;; This is needed for the implicit flow. The implicit flow can
   ;; create a signed access-token via this endpoint (rather than the
   ;; token endpoint). Therefore, this resource needs a keypair in
   ;; order to sign the access token.
   :juxt.site/keypair "https://auth.example.org/keypairs/{{kid}}"
   }}}
