{:deps
 ["https://auth.example.org/session-scopes/default"
  "https://auth.example.org/actions/install-authorization-server"
  "https://auth.example.org/permissions/system/install-authorization-server"
  "https://auth.example.org/actions/oauth/authorize"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/action-id "https://auth.example.org/actions/install-authorization-server"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content "<p>Welcome to the Site authorization server.</p>"
   :juxt.site/session-scope "https://auth.example.org/session-scopes/default"}}}
