{:deps
 [{:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/oauth/install-token-introspection-endpoint"}]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/oauth/install-token-introspection-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"
   ;; The introspect endpoint is inside a special protection space
   ;; that requires the client to authenticate itself using Basic
   ;; authentication. See RFC 7662 Section 2.1:
   ;; https://www.rfc-editor.org/rfc/rfc7662#section-2.1
   :juxt.site/protection-space-uris
   #{"https://auth.example.org/protection-spaces/client-credentials"
     "https://auth.example.org/protection-spaces/bearer"}

   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content "
<!DOCTYPE html>
<html>
<head>
<title>Site Token Introspector</title>
<link rel='icon' href='data:,'>
</head>
<body>
<main>

<h1>Token Introspector</h1>
<p>Paste your JWT access token in the text area below to find if it's currently active.</p>
<p>This is a tool to help with debugging. It is an implementation of <a href='https://datatracker.ietf.org/doc/html/rfc7662'>RFC 7662</a>.</p>
<form method='POST'>
<label for='token'>Access Token (JWT)</label>
<textarea id='token' name='token' rows=10 cols=80>
</textarea>
<input type='submit' value='Introspect'>
</form>
</main>
</body>
</html>"}}}
