{:deps
 ["{{session-scope}}"
  "https://auth.example.org/operations/install-oauth-token-endpoint"
  "https://auth.example.org/permissions/system/install-oauth-token-endpoint"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/install-oauth-token-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.http/content "<p>Welcome to the Site token endpoint server.</p>"
   :juxt.site/session-scope "{{session-scope}}"
   }}}
