;; Copy this to $HOME/.config/site/config.edn

{
 ;; These are used by the sitectl when creating new resources.  Change
 ;; these to your domain.
 :juxt.site/authorization-server {:juxt.site/base-uri "http://localhost:4440"}
 :juxt.site/resource-server {:juxt.site/base-uri "http://localhost:4444"}

 :ig/system
 {:juxt.site.db/xt-node
  {:xtdb/tx-log
   {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
               :db-dir #join [#env HOME "/.local/share/site/db/txes"]}}

   :xtdb/document-store
   {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
               :db-dir #join [#env HOME "/.local/share/site/db/docs"]}}

   :xtdb/index-store
   {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
               :db-dir #join [#env HOME "/.local/share/site/db/idxs"]}}}

  ;; Primary server
  [:juxt.site.server/server :juxt.site.server/primary-server]
  {:juxt.site/xt-node #ig/ref :juxt.site.db/xt-node
   :juxt.site/port 4440
   ;; If specified, inbound URLs will be uri-prefix + path. If not
   ;; specified, will default to concatenating the request's proto (or
   ;; X-Forwarded-Proto header) and Host (or X-Forwarded-Host) request header.
   ;;:juxt.site/uri-prefix "https://my.juxt.site"
   :juxt.site/dynamic? #profile {:dev true :prod false}}

  ;; We use the secondary server in development for separating out
  ;; localhost ports. In this case, the primary server (4440) is used
  ;; for the authorization server and the secondary server (4444) is
  ;; used for the resource server. A useful memory-jogger is to think
  ;; 'Auth0', to remember that the 'Auth'orization server ends in a
  ;; '0'.
  [:juxt.site.server/server :juxt.site.server/secondary-server]
  {:juxt.site/xt-node #ig/ref :juxt.site.db/xt-node
   :juxt.site/port 4444
   :juxt.site/dynamic? #profile {:dev true :prod false}}

  ;; Admin server is only locally bound
  :juxt.site.admin-server/server
  {:juxt.site/xt-node #ig/ref :juxt.site.db/xt-node
   :juxt.site/port 4911
   :juxt.site/dynamic? #profile {:dev true :prod false}}

  ;; Optional; nREPL server
  :juxt.site.nrepl/server
  {:juxt.site/port 7888}
  }}
