{:deps
 ["https://auth.example.org/operations/put-protection-space"
  "https://auth.example.org/permissions/system/put-protection-space"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-protection-space"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/auth-scheme "Bearer"}}}
