{:deps
 ["https://auth.example.org/operations/put-protection-space"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/put-protection-space"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/auth-scheme "Basic"
   ;; The authorization server value determines which set of clients
   ;; will be considered.
   :juxt.site/authorization-server "https://auth.example.org"}}}
