{:install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :juxt.site/description "Get the summary details of all permissible operations"

   :juxt.site/state
   {:juxt.site.sci/program
    #juxt.pprint
    (map
     (fn [x] (select-keys x [:xt/id :juxt.site/description]))
     (juxt.site/allowed-operations {}))}

   :juxt.site/scope
   #{"https://auth.example.org/scopes/system/read"}

   :juxt.site/rules
   [
    ;; Anyone get call this API, as some operations are public. It
    ;; will only show the operations available to the user, not all.
    [(allowed? subject operation resource permission)
     [permission :xt/id]]]}}}
