{:deps
 ["https://auth.example.org/scopes/system/write"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/do-operation-tx-fn "https://auth.example.org/_site/do-operation"

   :juxt.site/prepare
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content-type (-> *ctx*
                           :juxt.site/received-representation
                           :juxt.http/content-type)
          body (-> *ctx*
                   :juxt.site/received-representation
                   :juxt.http/body
                   (String.))

          installer-seq
          (case content-type
            "application/edn" (clojure.edn/read-string body)
            "application/json" (jsonista.core/read-value-with-keywords body))

          tx-ops (juxt.site/installer-seq->tx-ops installer-seq)]

      {:juxt.site/tx-ops tx-ops})}

   :juxt.site/transact
   {:juxt.site.sci/program
    #juxt.pprint
    (let [tx-ops (:juxt.site/tx-ops *prepare*)
          put-ids (map :xt/id (map second (filter (fn [x] (= (first x) :xtdb.api/put)) tx-ops)))
          #_#_body (pr-str put-ids) #_(clojure.string/join "\r\n"
                                        (cons
                                         (format "Successful application of %d tx-ops\r\n" (count tx-ops))
                                         put-ids)
                                        )]

      (-> tx-ops
          #_(conj
           [:ring.response/body (pr-str tx-ops)])))}

   :juxt.site/scope
   #{"https://auth.example.org/scopes/system/write"}

   :juxt.site/rules
   [
    [(allowed? subject operation resource permission)
     [permission :juxt.site/subject subject]]

    [(allowed? subject operation resource permission)
     [subject :juxt.site/user-identity id]
     [id :juxt.site/user user]
     [permission :juxt.site/role role]
     [role :juxt.site/type "https://meta.juxt.site/types/role"]
     [role-assignment :juxt.site/type "https://meta.juxt.site/types/role-assignment"]
     [role-assignment :juxt.site/role role]
     [role-assignment :juxt.site/user user]]

    [(allowed? subject operation resource permission)
     [subject :juxt.site/application app]
     [permission :juxt.site/role role]
     [role :juxt.site/type "https://meta.juxt.site/types/role"]
     [role-assignment :juxt.site/type "https://meta.juxt.site/types/role-assignment"]
     [role-assignment :juxt.site/role role]
     [role-assignment :juxt.site/application app]]]}}}
