{:deps ["https://auth.example.org/operations/get-introspect-token-form"
        "https://auth.example.org/permissions/get-introspect-token-form"
        "https://auth.example.org/operations/introspect-token"
        "https://auth.example.org/permissions/introspect-token"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :juxt.site.malli/input-schema
   [:map
    [:xt/id [:re "https://auth.example.org/.*"]]
    [:juxt.site/session-scope [:re "https://auth.example.org/.*"]]
    [:juxt.http/content-type [:re "text/html;?.*"]]
    [:juxt.http/content :string]]

   :juxt.site/prepare
   {:juxt.site.sci/program
    #juxt.pprint
    (let [input (:juxt.site/received-representation *ctx*)
          content-type (:juxt.http/content-type input)]
      (case content-type
        "application/edn"
        (some->
         input
         :juxt.http/body
         (String.)
         clojure.edn/read-string
         juxt.site.malli/validate-input
         (assoc
          :juxt.site/methods
          {:get
           {:juxt.site/operations #{"https://auth.example.org/operations/get-introspect-token-form"}}
           :post
           {:juxt.site/operations #{"https://auth.example.org/operations/introspect-token"}
            :juxt.site/acceptable {"accept" "application/x-www-form-urlencoded"}}}))))}

   :juxt.site/transact
   {:juxt.site.sci/program
    #juxt.pprint
    [[:xtdb.api/put *prepare*]]}

   :juxt.site/rules
   [
    [(allowed? subject operation resource permission)
     [permission :juxt.site/subject subject]]]}}}
