;; See https://book.babashka.org/#tasks
{:min-bb-version "0.6.2"
 :paths ["src"]
 :deps {io.github.lispyclouds/bblgum {:git/sha "7ebae0e2231899fe2a6ad44bc9ef5fca64099fcd"}
        org.babashka/cli {:mvn/version "0.4.39"}}
 :tasks
 {:requires (juxt.site.bb.tasks
             [clojure.core.async :as async]
             [clojure.edn :as edn]
             [clojure.java.io :as io]
             [babashka.cli :as cli])

  debug
  {:doc "DEBUG"
   :task (juxt.site.bb.tasks/debug)}

  }}
