{:deps
 ["https://auth.example.org/operations/get-user"]
 :install
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/type "https://meta.juxt.site/types/openapi-path"

   :openapi.v3/path "/users/{username}"

   :openapi.v3/parameters
   [
    {"name" "username"
     "in" "path"
     "required" "true"
     "schema" {"type" "string"}
     "style" "simple"}]

   :juxt.site/uri-template true

   :juxt.site/methods
   {:get
    {:juxt.site/description "Get the details for an individual user."
     :juxt.site/operation "https://auth.example.org/operations/get-user"
     :openapi.v3/tags ["Users"]
     :juxt.site/variants
     [{:juxt.http/content-type "application/json"}
      {:juxt.http/content-type "application/edn"}
      {:juxt.http/content-type "text/html;charset=utf-8"}]}}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
