{:deps
 ["https://auth.example.org/operations/register-patient"
  "https://auth.example.org/permissions/system/register-patient"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/register-patient"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :name "Melanie Black"}}}
