{:deps
 ["https://data.example.org/hospital-demo/_site/operations/register-patient"
  "https://data.example.org/hospital-demo/_site/permissions/system/register-patient"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://data.example.org/hospital-demo/_site/operations/register-patient"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :name "Beulah Leonard"}}}
