{:deps
 [{:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/operations/oauth/register-application"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/permissions/system/register-application"}
]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/oauth/register-application"
  :juxt.site/input
  {:juxt.site/client-id "petstore"
   :juxt.site/title "Petstore"
   :juxt.site/description "Petstore demo"
   :juxt.site/client-type "public"
   :juxt.site/authorization-server "https://auth.example.org"
   :juxt.site/resource-server "https://data.example.org"
   :juxt.site/redirect-uris ["https://petstore.swagger.io/oauth2-redirect.html"
                             "https://swagger-ui.apps.com/oauth2-redirect.html"
                             "https://juxt-site-petshop.vercel.app/oauth-redirect.html"
                             "https://fetshop.vercel.app/oauth-redirect.html"
                             "http://localhost:3000/oauth-redirect.html"
                             "http://localhost:5173/oauth-redirect.html"]}}}
