{"juxt/site/protection-spaces"
 {:juxt.site/description "Protection spaces"
  :juxt.site/installers
  ["https://auth.example.org/operations/put-protection-space"]}

 "juxt/site/system-api"
 {:juxt.site/description "Site System API",
  :juxt.site/installers
  [ ;; API resources
   "https://data.example.org/_site/openapi.json"
   ;; /operations
   "https://auth.example.org/operations/get-operations"
   "https://auth.example.org/permissions/get-operations"
   "https://data.example.org/_site/operations"
   "https://data.example.org/_site/operations.html"
   "https://data.example.org/_site/operations.json"
   ;; /users
   "https://auth.example.org/operations/get-users"
   "https://auth.example.org/operations/put-user"
   "https://data.example.org/_site/users"
   "https://data.example.org/_site/users.html"
   "https://data.example.org/_site/users.json"
   "https://data.example.org/_site/users/{username}"
   ;; Roles
   {:juxt.site/target-uri "https://data.example.org/_site/roles/{{role}}"
    :juxt.site/parameters {"role" "System"}}
   {:juxt.site/target-uri "https://data.example.org/_site/roles/{{role}}"
    :juxt.site/parameters {"role" "SystemReadonly"}}

   ;; Whoami
   "https://data.example.org/_site/whoami"
   "https://data.example.org/_site/whoami.json"
   "https://data.example.org/_site/whoami.html"
   "https://auth.example.org/permissions/whoami"
   ;; Permissions (mapping roles to operations)

   ;; System role
   {:juxt.site/target-uri "https://auth.example.org/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "get-users"}}
   {:juxt.site/target-uri "https://auth.example.org/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "get-user"}}
   {:juxt.site/target-uri "https://auth.example.org/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "put-user"}}

   ;; SystemReadonly role
   {:juxt.site/target-uri "https://auth.example.org/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "SystemReadonly" "operation" "get-users"}}
   {:juxt.site/target-uri "https://auth.example.org/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "SystemReadonly" "operation" "get-user"}}

   ;; Scopes
   ;; TODO: use these descriptions in the generation of openapi.json
   "https://auth.example.org/scopes/system/read"
   "https://auth.example.org/scopes/system/write"
   "https://auth.example.org/scopes/system/self-identification"
   ]}

 "juxt/site/sessions"
 {:juxt.site/description "Sessions"
  :juxt.site/installers
  ["https://auth.example.org/operations/put-session-scope"
   "https://auth.example.org/permissions/system/put-session-scope"]}

 "juxt/site/bootstrap"
 {:juxt.site/description "Bootstrap resources"
  :juxt.site/installers
  ["https://auth.example.org/_site/do-operation"
   "https://auth.example.org/_site/subjects/system"
   "https://auth.example.org/_site/operations/create-operation"
   "https://auth.example.org/_site/operations/grant-permission"
   "https://auth.example.org/_site/permissions/system/bootstrap"
   "https://auth.example.org/_site/operations/install-not-found"
   "https://auth.example.org/_site/permissions/system/install-not-found"
   "https://auth.example.org/_site/not-found"
   "https://auth.example.org/_site/operations/get-not-found"
   "https://auth.example.org/_site/permissions/get-not-found"]}

 "juxt/site/user-model"
 {:juxt.site/description
  "Operations to establish users upon a common model"
  :juxt.site/installers
  ["https://auth.example.org/operations/put-user"
   "https://auth.example.org/permissions/system/put-user"]}

 "juxt/site/login-form"
 {:juxt.site/description "Login form"
  :juxt.site/installers
  ["https://auth.example.org/operations/login"
   "https://auth.example.org/permissions/login"
   "https://auth.example.org/operations/create-login-resource"
   "https://auth.example.org/login-with-form"]}

 "juxt/site/logout"
 {:juxt.site/installers
  ["https://auth.example.org/operations/create-logout-resource"
   "https://auth.example.org/permissions/system/create-logout-resource"
   "https://auth.example.org/operations/logout"
   "https://auth.example.org/logout"]}

 "juxt/site/test-scopes"
 {:juxt.site/description "Test scopes"
  :juxt.site/installers
  ["https://auth.example.org/scopes/test/read"
   "https://auth.example.org/scopes/test/write"
   "https://auth.example.org/scopes/test/admin"]}

 "juxt/site/test-clients"
 {:juxt.site/description "Test clients"
  :juxt.site/installers
  ["https://auth.example.org/clients/test/public-global-scope-app"
   "https://auth.example.org/clients/test/public-read-scope-app"
   "https://auth.example.org/clients/test/public-read-write-scope-app"
   ]}

 "juxt/site/oauth-authorization-server"
 {:juxt.site/description "OAuth2 Authorization Server"
  :juxt.site/installers
  ["https://auth.example.org/oauth/authorize"
   "https://auth.example.org/oauth/token"
   "https://auth.example.org/operations/oauth/authorize"
   "https://auth.example.org/operations/oauth/create-access-token"
   "https://auth.example.org/operations/oauth/install-authorize-endpoint"
   "https://auth.example.org/operations/oauth/install-token-endpoint"
   "https://auth.example.org/permissions/system/oauth/install-authorize-endpoint"
   "https://auth.example.org/permissions/system/install-oauth-token-endpoint"
   "https://auth.example.org/permissions/system/register-client"
   "https://auth.example.org/permissions/oauth/authorize"
   "https://auth.example.org/permissions/oauth/create-access-token"
   "https://auth.example.org/keypairs/{{kid}}"
   ;; Introspection endpoint - see RFC 7662
   "https://auth.example.org/token-info"
   ;; Metadata endpoint -see RFC 8414
   "https://auth.example.org/.well-known/oauth-authorization-server"
   "https://auth.example.org/.well-known/jwks.json"
   ;; From https://www.rfc-editor.org/rfc/rfc8414#section-3
   ]}

 "juxt/site/example-users"
 {:juxt.site/description "Example users"
  :juxt.site/installers
  [
   ;; Alice
   {:juxt.site/target-uri "https://data.example.org/_site/users/{{username}}"
    :juxt.site/parameters {"username" "alice"
                           "fullname" "Alice"}}
   {:juxt.site/target-uri "https://data.example.org/_site/user-identities/{{username}}"
    :juxt.site/parameters {"username" "alice"
                           "password" "garden"}}
   ;; Bob
   {:juxt.site/target-uri "https://data.example.org/_site/users/{{username}}"
    :juxt.site/parameters {"username" "bob"
                           "fullname" "Bob"}}
   {:juxt.site/target-uri "https://data.example.org/_site/user-identities/{{username}}"
    :juxt.site/parameters {"username" "bob"
                           "password" "walrus"}}
   ;; Carlos
   {:juxt.site/target-uri "https://data.example.org/_site/users/{{username}}"
    :juxt.site/parameters {"username" "carlos"
                           "fullname" "Carlos"}}
   {:juxt.site/target-uri "https://data.example.org/_site/user-identities/{{username}}"
    :juxt.site/parameters {"username" "carlos"
                           "password" "jackal"}}]}

 "juxt/site/hospital-demo"
 {:juxt.site/description "Hospital demo resources"
  :juxt.site/installers
  ["https://auth.example.org/session-scopes/form-login-session"
   "https://auth.example.org/protection-spaces/bearer"
   "https://data.example.org/hospital-demo/_site/operations/get-patient"
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-any-patient"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-any-patient"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-patient/{{pid}}"
    :juxt.site/parameters {"username" "bob" "pid" "004"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-patient/{{pid}}"
    :juxt.site/parameters {"username" "bob" "pid" "009"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-patient/{{pid}}"
    :juxt.site/parameters {"username" "bob" "pid" "010"}}
   "https://data.example.org/hospital-demo/_site/operations/list-patients"
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/list-patients"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/list-patients"
    :juxt.site/parameters {"username" "bob"}}
   "https://data.example.org/hospital-demo/_site/operations/register-patient-measurement"
   "https://data.example.org/hospital-demo/_site/permissions/system/register-patient-measurement"
   "https://data.example.org/hospital-demo/_site/operations/get-doctor"
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-doctor"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/get-doctor"
    :juxt.site/parameters {"username" "bob"}}
   "https://data.example.org/hospital-demo/_site/operations/read-any-measurement"
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/read-any-measurement"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/_site/permissions/{{username}}/read-any-measurement"
    :juxt.site/parameters {"username" "bob"}}

   ;; Hospital data
   "https://data.example.org/hospital-demo/patients/"
   "https://data.example.org/hospital-demo/doctors/001"
   "https://data.example.org/hospital-demo/doctors/002"
   "https://data.example.org/hospital-demo/doctors/003"
   "https://data.example.org/hospital-demo/doctors/004"
   "https://data.example.org/hospital-demo/patients/001"
   "https://data.example.org/hospital-demo/patients/002"
   "https://data.example.org/hospital-demo/patients/003"
   "https://data.example.org/hospital-demo/patients/004"
   "https://data.example.org/hospital-demo/patients/005"
   "https://data.example.org/hospital-demo/patients/006"
   "https://data.example.org/hospital-demo/patients/007"
   "https://data.example.org/hospital-demo/patients/008"
   "https://data.example.org/hospital-demo/patients/009"
   "https://data.example.org/hospital-demo/patients/010"
   "https://data.example.org/hospital-demo/patients/011"
   "https://data.example.org/hospital-demo/patients/012"
   "https://data.example.org/hospital-demo/patients/013"
   "https://data.example.org/hospital-demo/patients/014"
   "https://data.example.org/hospital-demo/patients/015"
   "https://data.example.org/hospital-demo/patients/016"
   "https://data.example.org/hospital-demo/patients/017"
   "https://data.example.org/hospital-demo/patients/018"
   "https://data.example.org/hospital-demo/patients/019"
   "https://data.example.org/hospital-demo/patients/020"
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "001" "did" "001"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "002" "did" "001"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "003" "did" "001"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "004" "did" "002"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "005" "did" "001"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "005" "did" "002"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "006" "did" "003"}}
   {:juxt.site/target-uri "https://data.example.org/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "010" "did" "003"}}]}

 "juxt/site/roles"
 {:juxt.site/description
  "Operations to establish and assign roles to users"
  :juxt.site/installers
  ["https://auth.example.org/operations/put-role"
   "https://auth.example.org/permissions/system/put-role"
   "https://auth.example.org/operations/assign-role"
   "https://auth.example.org/permissions/system/assign-role"]}

 "juxt/site/password-based-user-identity"
 {:juxt.site/description "Password based user identities"
  :juxt.site/installers
  ["https://auth.example.org/permissions/system/register-password-based-user-identity"]}

 "juxt/site/openid"
 {:juxt.site/description "OpenID Connect"
  :juxt.site/installers
  ["https://auth.example.org/operations/openid/exchange-code-for-id-token"
   "https://auth.example.org/operations/register-openid-issuer"
   "https://auth.example.org/operations/register-openid-client"
   "https://auth.example.org/operations/register-openid-user-identity"
   "https://auth.example.org/permissions/system/register-openid-issuer"
   "https://auth.example.org/permissions/system/register-openid-client"
   "https://auth.example.org/permissions/system/register-openid-user-identity"]}}
