{"juxt/site/bootstrap"
 {:juxt.site/description "Bootstrap resources"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/do-operation"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/subjects/system"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/operations/create-operation"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/operations/grant-permission"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/permissions/system/bootstrap"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/operations/install-not-found"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/permissions/system/install-not-found"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/not-found"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/_site/not-found"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/operations/get-not-found"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/permissions/get-not-found"}
   ;; Each base-uri has a configuration, allowing us to attach meta-data to it.
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/_site/config"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/_site/config"}
   ]}

 "juxt/site/api-operations"
 {:juxt.site/description "API endpoints"
  :juxt.site/installers
  [{:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/system/put-openapi-path"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/system/put-resource"}]}

 "juxt/site/system-api"
 {:juxt.site/description "Site System API"
  :juxt.site/installers
  [ ;; Operations
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/get-operations"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/get-operations"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/operations"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/operations.html"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/operations.json"}

   ;; Users
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/get-users"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/get-user"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/put-user"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users.html"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users.json"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users/{username}"}

   ;; Roles
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/roles/{{role}}"
    :juxt.site/parameters {"role" "System"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/roles/{{role}}"
    :juxt.site/parameters {"role" "SystemReadonly"}}

   ;; Whoami
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/whoami"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/whoami.json"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/whoami.html"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/access-token"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/access-token.txt"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/whoami"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/get-access-token"}

   ;; Requests
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/get-requests"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/requests"}

   ;; Permissions (mapping roles to operations)

   ;; System role
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "get-users"}}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "get-user"}}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "put-user"}}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "System" "operation" "get-requests"}}

   ;; SystemReadonly role
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "SystemReadonly" "operation" "get-users"}}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "SystemReadonly" "operation" "get-user"}}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/by-role/{{role}}/{{operation}}"
    :juxt.site/parameters {"role" "SystemReadonly" "operation" "get-requests"}}

   ;; Scopes
   ;; TODO: use these descriptions in the generation of openapi.json
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/scopes/system/read"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/scopes/system/write"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/scopes/system/self-identification"}
   ]}

 "juxt/site/protection-spaces"
 {:juxt.site/description "Protection spaces"
  :juxt.site/installers
  [{:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/put-protection-space"}]}

 "juxt/site/openapi"
 {:juxt.site/description "OpenAPI"
  :juxt.site/installers
  [ ;; Required permissions (permissions are generally not specified as
   ;; dependencies but must be created out-of-band)
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/get-openapi-document"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/system/put-openapi-document"}
   ]}

 "juxt/site/system-api-openapi"
 {:juxt.site/description "System API OpenAPI docs"
  :juxt.site/installers
  [{:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/openapi.json"}]}

 "juxt/site/sessions"
 {:juxt.site/description "Sessions"
  :juxt.site/installers
  [{:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/operations/put-session-scope"}
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/system/put-session-scope"}]}

 "juxt/site/user-model"
 {:juxt.site/description
  "Operations to establish users upon a common model"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/put-user"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/put-user"}
   ]}

 "juxt/site/login-form"
 {:juxt.site/description "Login form"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/login"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/login"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/create-login-resource"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/login-with-form"}
   ]}

 "juxt/site/logout"
 {:juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/create-logout-resource"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/create-logout-resource"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/logout"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/logout"}
   ]}

 "juxt/site/test-scopes"
 {:juxt.site/description "Test scopes"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/scopes/test/read"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/scopes/test/write"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/scopes/test/admin"}
   ]}

 "juxt/site/test-clients"
 {:juxt.site/description "Test clients"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/applications/test/public-global-scope-app"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/applications/test/public-read-scope-app"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/applications/test/public-read-write-scope-app"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/applications/test/clientA"}
   ]}

 "juxt/site/site-cli-client"
 {:juxt.site/description "Site CLI client"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/applications/site-cli"}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/role-assignments/{{clientid}}-{{rolename}}"
    :juxt.site/parameters
    {"clientid" "site-cli"
     "rolename" "System"}}]}

 "juxt/site/oauth-token-endpoint"
 {:juxt.site/description "OAuth2 token endpoint"
  ;; TODO: We could declare needed parameters in an ordered map. This
  ;; would help the bb script introspect which parameters are required
  ;; for each group, saving us the trouble of having to custom code a
  ;; bb task for the installation of each group.
  :juxt.site/installers
  [
   ;; System permissions required
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/install-oauth-token-endpoint"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/put-protection-space"}

   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/oauth/token"}

   ;; Necessary to allow bootstrap registration of clients
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/register-application"}
   ;; Necessary to allow rotation of client-secrets and external setting initial client-secret for a given app.
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/system/oauth/set-client-secret"
    :juxt.site/parameters {"client-id" "insite"}}
   ]}

 "juxt/site/oauth-authorization-endpoint"
 {:juxt.site/description "OAuth2 authorization endpoint"
  :juxt.site/parameters [["session-scope" {}]
                         ["authorization-code-length" {}]
                         ["jti-length" {}]
                         ]
  :juxt.site/installers
  [
   ;; System permissions required
   {:juxt.site/base-uri "https://auth.example.org"
    :juxt.site/installer-path "/permissions/system/oauth/install-authorize-endpoint"
    ;; This indicates which parameters are required
    #_#_:juxt.site/parameters {"session-scope" "{{session-scope}}"
                               "authorization-code-length" "{{authorization-code-length}}"}
    }

   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/oauth/authorize"}
   ]}

 "juxt/site/oauth-introspection-endpoint"
 {:juxt.site/description "OAuth2 RFC 7662 introspection endpoint"
  :juxt.site/installers
  [
   ;; Introspection endpoint -- see RFC 7662
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/install-token-introspection-endpoint"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/oauth/introspect"}]}

 "juxt/site/oauth-metadata-endpoints"
 {:juxt.site/description "OAuth2 RFC 8414 metadata endpoints"
  :juxt.site/installers
  [
   ;; Metadata endpoint -- see RFC 8414
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/oauth/install-metadata-endpoint"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/.well-known/oauth-authorization-server"}

   ;; JWKS endpoint -- see RFC 7517 - see https://juxt.eu.auth0.com/.well-known/jwks.json
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/oauth/install-jwks-document"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/.well-known/jwks.json"}]}

 "juxt/site/example-users"
 {:juxt.site/description "Example users"
  :juxt.site/installers
  [
   ;; Alice
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users/{{username}}"
    :juxt.site/parameters {"username" "alice"
                           "fullname" "Alice"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/user-identities/{{username}}"
    :juxt.site/parameters {"username" "alice"
                           "password" "garden"}}
   ;; Bob
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users/{{username}}"
    :juxt.site/parameters {"username" "bob"
                           "fullname" "Bob"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/user-identities/{{username}}"
    :juxt.site/parameters {"username" "bob"
                           "password" "walrus"}}
   ;; Carlos
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/users/{{username}}"
    :juxt.site/parameters {"username" "carlos"
                           "fullname" "Carlos"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/_site/user-identities/{{username}}"
    :juxt.site/parameters {"username" "carlos"
                           "password" "jackal"}}]}

 "juxt/site/hospital-demo"
 {:juxt.site/description "Hospital demo resources"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/session-scopes/form-login-session"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/protection-spaces/bearer"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/_site/operations/get-patient"}

   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-any-patient"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-any-patient"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-patient/{{pid}}"
    :juxt.site/parameters {"username" "bob" "pid" "004"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-patient/{{pid}}"
    :juxt.site/parameters {"username" "bob" "pid" "009"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-patient/{{pid}}"
    :juxt.site/parameters {"username" "bob" "pid" "010"}}

   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/_site/operations/list-patients"}

   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/list-patients"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/list-patients"
    :juxt.site/parameters {"username" "bob"}}

   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/_site/operations/register-patient-measurement"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/_site/permissions/system/register-patient-measurement"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/_site/operations/get-doctor"}

   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-doctor"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/get-doctor"
    :juxt.site/parameters {"username" "bob"}}

   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/_site/operations/read-any-measurement"}

   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/read-any-measurement"
    :juxt.site/parameters {"username" "alice"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/_site/permissions/{{username}}/read-any-measurement"
    :juxt.site/parameters {"username" "bob"}}

   ;; Hospital data
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/doctors/001"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/doctors/002"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/doctors/003"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/doctors/004"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/001"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/002"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/003"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/004"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/005"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/006"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/007"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/008"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/009"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/010"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/011"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/012"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/013"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/014"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/015"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/016"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/017"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/018"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/019"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/hospital-demo/patients/020"}

   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "001" "did" "001"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "002" "did" "001"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "003" "did" "001"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "004" "did" "002"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "005" "did" "001"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "005" "did" "002"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "006" "did" "003"}}
   {:juxt.site/base-uri "https://data.example.org"
    :juxt.site/installer-path "/hospital-demo/assignments/patient/{{pid}}/doctor/{{did}}"
    :juxt.site/parameters {"pid" "010" "did" "003"}}]}

 "juxt/site/roles"
 {:juxt.site/description
  "Operations to establish and assign roles to users"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/put-role"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/put-role"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/assign-role"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/assign-role"}
   ]}

 "juxt/site/password-based-user-identity"
 {:juxt.site/description "Password based user identities"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/register-password-based-user-identity"}
   ]}

 "juxt/site/openid"
 {:juxt.site/description "Configure Site as an OpenID Connect client to authenticate resource owners"
  :juxt.site/installers
  [
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/openid/exchange-code-for-id-token"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/register-openid-issuer"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/register-openid-client"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/operations/register-openid-user-identity"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/register-openid-issuer"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/register-openid-client"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/register-openid-user-identity"}
   ]}

 "juxt/site/testing/basic-auth-protected-resource"
 {:juxt.site/installers
  [{:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/system/put-resource"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/_site/testing/basic-auth-protected-resource"}
   {:juxt.site/base-uri "https://data.example.org" :juxt.site/installer-path "/_site/testing/client-credentials-protected-resource"}
   {:juxt.site/base-uri "https://auth.example.org" :juxt.site/installer-path "/permissions/testing/basic-auth-protected-resource-operation"}
   ]}

 }
