{:deps
 ["https://auth.example.org/_site/do-operation"
  "https://auth.example.org/_site/subjects/system"
  "https://auth.example.org/_site/operations/create-operation"
  "https://auth.example.org/_site/permissions/system/bootstrap"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/do-operation-tx-fn "https://auth.example.org/_site/do-operation"

   #_:juxt.site/transact
   #_{:juxt.site.sci/program
      (pr-str
       '(do
          [[:ring.response/status 404]]))}
   :juxt.site/rules
   [
    [(allowed? subject operation resource permission)
     [permission :xt/id]]]}}}
