{:deps
 [{:juxt.site/base-uri "https://auth.example.org"
   :juxt.site/installer-path "/operations/oauth/install-authorize-endpoint"}]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/grant-permission"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/subject "https://auth.example.org/_site/subjects/system"
   :juxt.site/operation-uri "https://auth.example.org/operations/oauth/install-authorize-endpoint"}}}
