;; Copy this to $HOME/.config/site/config.edn

{
 :ig/system
 {:juxt.site.db/xt-node
  {:xtdb/tx-log
   {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
               :db-dir #join [#env HOME "/.local/share/site/db/txes"]}}

   :xtdb/document-store
   {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
               :db-dir #join [#env HOME "/.local/share/site/db/docs"]}}

   :xtdb/index-store
   {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
               :db-dir #join [#env HOME "/.local/share/site/db/idxs"]}}}

  ;; Primary listener
  [:juxt.site.listener/listener :juxt.site.listener/primary-listener]
  {:juxt.site/xt-node #ig/ref :juxt.site.db/xt-node
   :juxt.site/port 4440
   :juxt.site/dynamic? #profile {:dev true :prod false}}

  ;; We use the secondary listener in development for separating out
  ;; localhost ports. In this case, the primary listener (4440) is
  ;; used for the authorization server and the secondary
  ;; listener (4444) is used for the resource server. A useful
  ;; memory-jogger is to think 'Auth0', to remember that the
  ;; 'Auth'orization server ends in a '0'.
  [:juxt.site.listener/listener :juxt.site.listener/secondary-listener]
  {:juxt.site/xt-node #ig/ref :juxt.site.db/xt-node
   :juxt.site/port 4444
   :juxt.site/dynamic? #profile {:dev true :prod false}}

  ;; SiteAdmin listener is only locally bound
  :juxt.site.admin-server/listener
  {:juxt.site/xt-node #ig/ref :juxt.site.db/xt-node
   :juxt.site/port 4911
   :juxt.site/dynamic? #profile {:dev true :prod false}}

  ;; Optional; nREPL server
  :juxt.site.nrepl/server
  {:juxt.site/port 7888}
  }}
