{:deps
 ["https://auth.example.org/operations/register-doctor"
  "https://auth.example.org/permissions/system/register-doctor"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/register-doctor"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :name "Dr. Kim"}}}
