{:deps
 ["https://auth.example.org/operations/petstore/add-pet"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/petstore/add-pet"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :name "Pumpkin and Knight"
   :owner "mal"
   :status "unavailable"
   :category {:name "Rabbits"}
   :photoUrls ["https://files.slack.com/files-tmb/T02AJV0T3-F03BUU2RWP6-9bdec0dc50/img_20220417_095954_960.jpg"]}}}
