{:deps
 ["https://data.example.org/_site/access-token"
  "https://auth.example.org/operations/get-access-token"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operation "https://auth.example.org/operations/get-access-token"}}
   :juxt.site/variant-of "https://data.example.org/_site/access-token"
   :juxt.http/content-type "text/plain;charset=us-ascii"

   :juxt.site/respond
   {:juxt.site.sci/program
    #juxt.pprint
    (let [state (str *state* \return \newline)
          bytes (.getBytes state "us-ascii")]
      (-> *ctx*
          (assoc :ring.response/body bytes)
          (update :ring.response/headers assoc "content-length" (str (count bytes)))))}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
