{:deps
 ["https://auth.example.org/operations/get-api-endpoints"
  "https://auth.example.org/operations/put-resource"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operation "https://auth.example.org/operations/get-api-endpoints"}}
   :juxt.site/variant-of "https://data.example.org/_site/api-endpoints"
   :juxt.http/content-type "text/csv"
   :juxt.pick/quality-of-source 0.5
   :juxt.site/respond
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content (str
;;                   "uri,method,opeation-uri" "\r\n"
                   (clojure.string/join
                    "\r\n"
                    (for [{:keys [uri method operation-uri]} *state*]
                      (clojure.string/join "," [uri method operation-uri])))
                   "\r\n")]
      (-> *ctx*
          (assoc :ring.response/body content)
          (update :ring.response/headers assoc "content-length" (str (count (.getBytes content))))))}
   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}
   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
