{:install
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/description "Virtual host configuration for https://data.example.org"
   :juxt.site/type "https://meta.juxt.site/types/vhost-configuration"
   :juxt.site/requests-base-uri "https://data.example.org"}}}
