{:deps
 [{:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/do-operation"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/subjects/system"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/operations/install-not-found"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/permissions/system/install-not-found"}
]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/install-not-found"
  :juxt.site/input
  {:xt/id "{{$id}}"}}}
