{:deps
 ["https://auth.example.org/operations/get-unprotected-resource"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operation "https://auth.example.org/operations/get-unprotected-resource"}}

   :juxt.http/content-type "text/javascript"
   :juxt.http/content #juxt.include "oauth-service-worker.js"
   }}}
