{:deps
 ["https://data.example.org/_site/operations/get-openapis"
  "https://data.example.org/_site/operations/post-openapi"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :openapi.v3/path "/openapis"

   :juxt.site/methods
   {:get
    {:juxt.site/operation-uri "https://data.example.org/_site/operations/get-openapis"
     :openapi.v3/metadata {"tags" ["OpenAPIs"]
                           "summary" "Get OpenAPIs"}}

    :post
    {:juxt.site/operation-uri
     ;; TODO: Rename to register-users
     "https://data.example.org/_site/operations/post-openapi"
     :openapi.v3/metadata
     {"tags" ["OpenAPIs"]
      "summary" "Install an OpenAPI"
      "requestBody"
      {"description" "OpenAPI document"
       "content"
       {"application/json"
        {"schema"
         {"type" "object"
          "properties" {"id" {"type" "string"}}}}
        "application/edn"
        {}}}}
     :juxt.site/acceptable {"accept" "application/json,application/edn"}}}

   :juxt.site/protection-space-uris #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
