{:deps
 ["https://auth.example.org/operations/put-openapi-document"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/put-openapi-document"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/description ""

   :openapi.v3/info
   {"title" "Site System API"
    "description" "This is the OpenAPI 3.0 description of the Site System API.

Some useful links:
- [Site at Github](https://github.com/juxt/site)"
    "termsOfService" "http://swagger.io/terms/"

    "contact" {"email" "info@juxt.pro"}

    "license"
    {"url" "http://www.apache.org/licenses/LICENSE-2.0.html"
     "name" "Apache 2.0"}

    "version" "1.0.0"}

   :openapi.v3/servers [{"url" "https://data.example.org/_site"}]

   :openapi.v3/oauth-flows #{"authorizationCode" "implicit" "password" "clientCredentials"}
   :openapi.v3/oauth-authorization-url "https://auth.example.org/oauth/authorize"
   :openapi.v3/oauth-token-url "https://auth.example.org/oauth/token"
   :openapi.v3/oauth-scopes {"https://auth.example.org/scopes/system/read" "Read system info"
                             "https://auth.example.org/scopes/system/write" "Administer system"
                             "https://auth.example.org/scopes/system/self-identification" "Self identification"}

   :openapi.v3/components
   {"schemas" {}
    "requestBodies" {}}

   :openapi.v3/tags
   ["Users" "Operations"]

   }}}
