{:deps
 ["https://data.example.org/_site/operations/put-openapi-document"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://data.example.org/_site/operations/put-openapi-document"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :openapi.v3/definition
   {"openapi" "3.0.2"
    "info"
    {"title" "Site System API"
     "description" "This is the OpenAPI 3.0 description of the Site System API.

Some useful links:
- [Site at Github](https://github.com/juxt-site/site)"
     "termsOfService" "http://swagger.io/terms/"

     "contact" {"email" "info@juxt.pro"}

     "license"
     {"url" "http://www.apache.org/licenses/LICENSE-2.0.html"
      "name" "Apache 2.0"}

     "version" "1.0.0"}

    "servers"
    [{"url" "https://data.example.org/_site"}]

    "tags"
    ["Users" "Operations"]

    "components"
    {"schemas" {}
     "requestBodies" {}
     "securitySchemes"
     {"oauth"
      {"type" "oauth2"
       "flows"
       {"authorizationCode"
        {"authorizationUrl" "https://auth.example.org/oauth/authorize"
         "scopes"
         {"https://auth.example.org/scopes/system/read" "Read system info"
          "https://data.example.org/_site/scopes/system/self-identification" "Self identification"
          "https://auth.example.org/scopes/system/write" "Administer system"}
         "tokenUrl" "https://auth.example.org/oauth/token"}

        "clientCredentials"
        {"scopes"
         {"https://auth.example.org/scopes/system/read" "Read system info"
          "https://data.example.org/_site/scopes/system/self-identification" "Self identification"
          "https://auth.example.org/scopes/system/write" "Administer system"}
         "tokenUrl" "https://auth.example.org/oauth/token"}

        "implicit"
        {"authorizationUrl" "https://auth.example.org/oauth/authorize"
         "scopes"
         {"https://auth.example.org/scopes/system/read" "Read system info"
          "https://data.example.org/_site/scopes/system/self-identification" "Self identification"
          "https://auth.example.org/scopes/system/write" "Administer system"}}

        "password"
        {"scopes"
         {"https://auth.example.org/scopes/system/read" "Read system info"
          "https://data.example.org/_site/scopes/system/self-identification" "Self identification"
          "https://auth.example.org/scopes/system/write" "Administer system"}
         "tokenUrl" "https://auth.example.org/oauth/token"}}}}}}}}}
