{:deps
 ["https://data.example.org/_site/operations"
  "https://auth.example.org/operations/get-operations"]
 :install
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operation "https://auth.example.org/operations/get-operations"}}
   :juxt.site/variant-of "https://data.example.org/_site/operations"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.site/respond
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content
          (selmer/render
           #juxt.template
           "
<table>
{% for o in operations %}
<tr>
<td>{{o.xt/id}}</td>\n
<td>{{o.juxt..site/description}}</td>\n
</tr>
{% endfor %}
</table>
\n"
           {:operations *state*}
           )]
      (-> *ctx*
          (assoc :ring.response/body content)
          (update :ring.response/headers assoc "content-length" (str (count (.getBytes content))))))}
   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
