{:deps
 ["https://auth.example.org/operations/install-resources"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-api-endpoint"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :openapi.v3/path "/resources"

   :juxt.site/methods
   {:post
    {:juxt.site/operation "https://auth.example.org/operations/install-resources"
     :openapi.v3/metadata
     {"tags" ["Resources"]
      "summary" "Install resources"
      "requestBody"
      {"description" "Archive of operations to call"
       "content"
       {"application/zip" {}}}}}}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
