{:deps
 ["https://auth.example.org/operations/put-resource"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :openapi.v3/path "/resources"

   :juxt.site/methods
   {:post
    {:juxt.site/acceptable
     {"accept" "application/edn,application/json"}
     :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
     :openapi.v3/metadata
     {"tags" ["Resources"]
      "summary" "Install resource"
      "requestBody"
      {"description" "Resource to install"
       "content"
       {"application/json" {}
        "application/edn" {}}}}}}

   :juxt.site/protection-space-uris #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
