{:deps
 ["https://auth.example.org/operations/get-users"
  "https://auth.example.org/protection-spaces/bearer"
  "https://auth.example.org/permissions/get-unprotected-resource"
  ;; This is the rendering of a 401, if text/html is selected
  ;; TODO: This should come from its own bundle!
  "https://data.example.org/_site/templates/fetch-html-content.html"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :openapi.v3/path "/users"

   :juxt.site/methods
   {:get
    {:juxt.site/operation "https://auth.example.org/operations/get-users"
     :openapi.v3/metadata
     {"tags" ["Users"]
      "summary" "Get users"}
     :juxt.site/responses
     {"401"
      {"content"
       {"text/html"
        {:juxt.site.sci/program
         #juxt.pprint
         (let [content
               (selmer/render-file
                "https://data.example.org/_site/templates/fetch-html-content.html"
                {:title "Users"
                 :content-src "{{$id}}"})]
           (-> *ctx*
               (assoc :ring.response/body content)
               (update :ring.response/headers assoc "content-length" (str (count (.getBytes content))))
               (update :ring.response/headers assoc "content-type" "text/html")))}}}}}

    :post
    {:juxt.site/operation
     ;; TODO: Rename to register-users
     "https://auth.example.org/operations/put-user"
     :openapi.v3/metadata
     {"tags" ["Users"]
      "summary" "Add a user"
      "requestBody"
      {"description" "User to add to the system"
       "content"
       {"application/edn" {}
        "application/json"
        {"schema"
         {"type" "object"
          "properties" {"id" {"type" "string"}}}}}}}
     :juxt.site/acceptable {"accept" "application/edn,application/json"}}}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
