{:deps
 ["https://auth.example.org/operations/get-users"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/type "https://meta.juxt.site/types/openapi-path"

   :openapi.v3/path "/users"

   :juxt.site/methods
   {:get
    {:juxt.site/description "Get users"
     :juxt.site/operations #{"https://auth.example.org/operations/get-users"}

     :openapi.v3/operation-id "getUsers"
     :openapi.v3/scope "read:users"
     :openapi.v3/tags ["Users"]}}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization" "hx-current-url" "hx-request"]}]]}}}
