{:deps
 ["https://data.example.org/_site/users"
  "https://auth.example.org/operations/get-users"]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/operations/put-resource"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operation "https://auth.example.org/operations/get-users"}}
   :juxt.site/variant-of "https://data.example.org/_site/users"
   :juxt.pick/quality-of-source 0.5 ; downgrade HTML in content-negotiation
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.site/respond
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content
          (selmer/render
           #juxt.template
           "
<table>
{% for u in users %}
<tr>
<td>{{u.xt/id}}</td>\n
<td>{{u.fullname}}</td>\n
</tr>
{% endfor %}
</table>
\n"
           {:users *state*}
           )]
      (-> *ctx*
          (assoc :ring.response/body content)
          (update :ring.response/headers assoc "content-length" (str (count (.getBytes content))))))}
   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}
   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
