{:deps
 ["https://auth.example.org/operations/get-users"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/put-openapi-path"
  :juxt.site/input
  {:xt/id "{{$id}}"

   :openapi.v3/path "/users"

   :juxt.site/methods
   {:get
    {:juxt.site/operation "https://auth.example.org/operations/get-users"
     :openapi.v3/metadata
     {"tags" ["Users"]
      "summary" "Get users"}}

    :post
    {:juxt.site/operation
     ;; TODO: Rename to register-users
     "https://auth.example.org/operations/put-user"
     :openapi.v3/metadata
     {"tags" ["Users"]
      "summary" "Add a user"
      "requestBody"
      {"description" "User to add to the system"
       "content"
       {"application/edn" {}
        "application/json"
        {"schema"
         {"type" "object"
          "properties" {"id" {"type" "string"}}}}}}}
     :juxt.site/acceptable {"accept" "application/edn,application/json"}}}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
