{:deps
 ["https://data.example.org/_site/users"
  "https://auth.example.org/operations/system-api/get-users"]
 :install
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/methods
   {:get {:juxt.site/operations #{"https://auth.example.org/operations/system-api/get-users"}}}
   :juxt.site/variant-of "https://data.example.org/_site/users"
   :juxt.http/content-type "text/html;charset=utf-8"
   :juxt.site/respond
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content
          (selmer/render
           "<body><h1>Users</h1>
<table>
{% for u in users %}
<tr>
<td>{{u.xt/id}}</td>\n
<td>{{u.fullname}}</td>\n
</tr>
{% endfor %}
</table>
</body>\n"
           *state*
           )]
      (-> *ctx*
          (assoc :ring.response/body content)
          (update :ring.response/headers assoc "content-length" (str (count (.getBytes content))))))}
   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}}}}
