{:deps
 ["https://auth.example.org/operations/whoami"
  "https://auth.example.org/protection-spaces/bearer"]
 :install
 {:juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/type "https://meta.juxt.site/types/openapi-path"

   :openapi.v3/path "/whoami"

   :juxt.site/methods
   {:get
    {:juxt.site/operation "https://auth.example.org/operations/whoami"
     :openapi.v3/metadata {"tags" ["Users"]
                           "summary" "Find out information about the requestor"}}}

   :juxt.site/protection-spaces #{"https://auth.example.org/protection-spaces/bearer"}

   :juxt.site/access-control-allow-origins
   [[".*" {:juxt.site/access-control-allow-origin "*"
           :juxt.site/access-control-allow-methods [:get]
           :juxt.site/access-control-allow-headers ["authorization"]}]]}}}
