;; See https://book.babashka.org/#tasks
{:min-bb-version "0.6.2"
 :paths ["src"]
 :deps {io.github.lispyclouds/bblgum {:git/sha "7ebae0e2231899fe2a6ad44bc9ef5fca64099fcd"}
        org.babashka/cli {:mvn/version "0.4.39"}}
 :tasks
 {:requires (juxt.site.bb.bootstrap.tasks
             [clojure.core.async :as async]
             [clojure.edn :as edn]
             [clojure.java.io :as io]
             [babashka.cli :as cli])

  reset
  {:doc "Factory reset"
   :task (juxt.site.bb.bootstrap.tasks/reset
          (cli/parse-opts *command-line-args* {}))}

  ls {:task (juxt.site.bb.bootstrap.tasks/ls)}
  ls-site-type {:task (juxt.site.bb.bootstrap.tasks/ls-site-type (first *command-line-args*))}

  users {:task (juxt.site.bb.bootstrap.tasks/ls-type "user")}
  access-tokens {:task (juxt.site.bb.bootstrap.tasks/ls-type "access-token")}

  install-group {:task (juxt.site.bb.bootstrap.tasks/install-group
                        (-> (cli/parse-opts
                             *command-line-args*
                             {:args->opts [:group]
                              :validate {:group {:pred string?}}})
                            juxt.site.bb.bootstrap.tasks/add-base-uris))}

  new-keypair {:task (juxt.site.bb.bootstrap.tasks/new-keypair
                      (-> {} juxt.site.bb.bootstrap.tasks/add-base-uris))}

  client-secret {:task (juxt.site.bb.bootstrap.tasks/client-secret
                        (-> (cli/parse-opts
                             *command-line-args*
                             {:args->opts [:client-id]
                              :require [:client-id]
                              :coerce {:save :boolean}
                              :validate {:client-id {:pred string?}}})
                            juxt.site.bb.bootstrap.tasks/add-base-uris))}

  apply
  {:task
   (let [spec {:alias {:c :config
                       :a :no-confirm}
               :require [:config]
               :coerce {:config (fn [x] (when x (io/file x)))}
               :validate {:config {:pred (fn [x] (when x (.exists x)))
                                   :ex-msg (fn [x] (format "File must exist: %s" x))}}}
         {config-file :config
          no-confirm :no-confirm}
         (cli/parse-opts *command-line-args* spec)

         config (edn/read-string (slurp config-file))]

     (binding [juxt.site.bb.bootstrap.tasks/*no-confirm* no-confirm]
       (doseq [[task-kw args] config
               :let [task (ns-resolve 'juxt.site.bb.bootstrap.tasks (symbol task-kw))
                     args (juxt.site.bb.bootstrap.tasks/add-base-uris args)]]
         (task args))))}

  ;; -----------------------------------------------------------------

  #_register-application
  #_{:task (juxt.site.bb.bootstrap.tasks/register-application {})}

  #_install-login-form
  #_{:task (juxt.site.bb.bootstrap.tasks/install-login-form {})}

  #_openid
  #_{:task (juxt.site.bb.bootstrap.tasks/openid {})}

  #_system-api
  #_{:task (juxt.site.bb.bootstrap.tasks/system-api {})}

  #_oauth-token-endpoint
  #_{:task (juxt.site.bb.bootstrap.tasks/oauth-token-endpoint {})}

  #_oauth-authorization-endpoint
  #_{:task (juxt.site.bb.bootstrap.tasks/oauth-authorization-endpoint {})}

  #_oauth-extras
  #_{:task (juxt.site.bb.bootstrap.tasks/oauth-extras {})}

  #_add-user
  #_{:task (juxt.site.bb.bootstrap.tasks/add-user {})}

  #_add-system
  #_{:task (juxt.site.bb.bootstrap.tasks/add-system-user {})}

  #_grant-role
  #_{:task (juxt.site.bb.bootstrap.tasks/grant-role {})}

  #_register-scope
  #_{:task (juxt.site.bb.bootstrap.tasks/register-scope {})}

  #_request-access-token
  #_{:task (juxt.site.bb.bootstrap.tasks/request-access-token {})}

  #_basic-auth-example
  #_{:task (juxt.site.bb.bootstrap.tasks/basic-auth-example {})}

  }}
