;; See https://book.babashka.org/#tasks
{:min-bb-version "0.6.2"
 :paths ["src"]
 :deps {io.github.lispyclouds/bblgum {:git/sha "7ebae0e2231899fe2a6ad44bc9ef5fca64099fcd"}
        org.babashka/cli {:mvn/version "0.4.39"}}
 :tasks
 {:requires (juxt.site.bb.bootstrap.tasks
             [clojure.core.async :as async]
             [clojure.edn :as edn]
             [clojure.java.io :as io]
             [babashka.cli :as cli])

  debug
  {:doc "DEBUG"
   :task (juxt.site.bb.bootstrap.tasks/debug)}

  reset
  {:doc "Factory reset"
   :task (juxt.site.bb.bootstrap.tasks/reset)}

  bootstrap
  {:doc "Bootstrap system"
   :task (juxt.site.bb.bootstrap.tasks/bootstrap {})}

  ls {:task (juxt.site.bb.bootstrap.tasks/ls)}
  ls-site-type {:task (juxt.site.bb.bootstrap.tasks/ls-site-type (first *command-line-args*))}
  users {:task (juxt.site.bb.bootstrap.tasks/ls-type "user")}
  access-tokens {:task (juxt.site.bb.bootstrap.tasks/ls-type "access-token")}

  install-login-form
  {:task (juxt.site.bb.bootstrap.tasks/install-login-form {})}

  openid
  {:task (juxt.site.bb.bootstrap.tasks/openid {})}

  system-api
  {:task (juxt.site.bb.bootstrap.tasks/system-api {})}

  oauth-token-endpoint
  {:task (juxt.site.bb.bootstrap.tasks/oauth-token-endpoint {})}

  oauth-authorization-endpoint
  {:task (juxt.site.bb.bootstrap.tasks/oauth-authorization-endpoint {})}

  oauth-extras
  {:task (juxt.site.bb.bootstrap.tasks/oauth-extras {})}

  add-user
  {:task (juxt.site.bb.bootstrap.tasks/add-user {})}

  add-system
  {:task (juxt.site.bb.bootstrap.tasks/add-system-user {})}

  grant-role
  {:task (juxt.site.bb.bootstrap.tasks/grant-role {})}

  register-application
  {:task (juxt.site.bb.bootstrap.tasks/register-application {})}

  register-scope
  {:task (juxt.site.bb.bootstrap.tasks/register-scope {})}

  request-access-token
  {:task (juxt.site.bb.bootstrap.tasks/request-access-token {})}

  basic-auth-example
  {:task (juxt.site.bb.bootstrap.tasks/basic-auth-example {})}

  apply
  {:task
   (let [spec {:alias {:c :config
                       :a :no-confirm}
               :require [:config]
               :coerce {:config (fn [x] (when x (io/file x)))}
               :validate {:config {:pred (fn [x] (when x (.exists x)))
                                   :ex-msg (fn [x] (format "File must exist: %s" x))}}}
         {config-file :config
          no-confirm :no-confirm}
         (cli/parse-opts *command-line-args* spec)

         config (edn/read-string (slurp config-file))]

     (binding [juxt.site.bb.bootstrap.tasks/*no-confirm* no-confirm]
       (doseq [[task-kw args] config
               :let [task (ns-resolve 'juxt.site.bb.bootstrap.tasks (symbol task-kw))]]
         (if args
           (task args)
           (task)))))}}}
