{:deps
 ["https://auth.example.org/operations/put-role"
  "https://auth.example.org/permissions/system/put-role"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/put-role"
  :juxt.site/input {:xt/id "{{$id}}"}}}
