{:deps
 ["https://auth.example.org/operations/assign-doctor-to-patient"
  "https://auth.example.org/permissions/system/assign-doctor-to-patient"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/assign-doctor-to-patient"
  :juxt.site/input {:patient "https://data.example.org/hospital-demo/patients/{{pid}}"
                    :doctor "https://data.example.org/hospital-demo/doctors/{{did}}"}}}
