{:install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/create-operation"
  :juxt.site/input
  {:xt/id "{{$id}}"

   ;; A POST to a patient URL?
   ;; What if there are a number of operations one can perform on a patient?
   ;; A PATCH to a patient????

   :juxt.site.malli/input-schema
   [:map
    [:patient [:re "https://data.example.org/hospital-demo/patients/.*"]]
    [:doctor [:re "https://data.example.org/hospital-demo/doctors/.*"]]]

   :juxt.site/prepare
   {:juxt.site.sci/program
    #juxt.pprint
    (let [content-type (-> *ctx*
                           :juxt.site/received-representation
                           :juxt.http/content-type)
          body (-> *ctx*
                   :juxt.site/received-representation
                   :juxt.http/body)]
      (let [input
            (case content-type
              "application/edn"
              (some->
               body
               (String.)
               clojure.edn/read-string
               juxt.site.malli/validate-input
               ))]

        (when-not input
          (throw (ex-info "No input" {})))

        (let [[_ patient-id] (re-matches (re-pattern "https://data.example.org/hospital-demo/patients/(.*)") (:patient input))
              [_ doctor-id] (re-matches (re-pattern "https://data.example.org/hospital-demo/doctors/(.*)") (:doctor input))
              id (format "https://data.example.org/hospital-demo/assignments/patient/%s/doctor/%s" patient-id doctor-id)]
          {:patient-id (:patient input)
           :doctor-id (:doctor input)
           :id id})))}

   :juxt.site/transact
   {:juxt.site.sci/program
    #juxt.pprint
    (let [{:keys [id patient-id doctor-id]} *prepare*]
      [[:xtdb.api/put
        {:xt/id id
         :patient patient-id
         :doctor doctor-id
         :juxt.site/type "https://data.example.org/types/doctor-patient-assignment"}]])}

   :juxt.site/rules
   [
    [(allowed? subject operation resource permission)
     [permission :juxt.site/subject subject]]]}}}
