{:deps
 [{:juxt.site/base-uri "https://data.example.org", :juxt.site/installer-path "/_site/operations/put-openapi-document"}]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/grant-permission"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/subject "https://auth.example.org/_site/subjects/system"
   :juxt.site/operation-uri "https://data.example.org/_site/operations/put-openapi-document"}}}
