{:deps
 [{:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/do-operation"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/subjects/system"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/operations/grant-permission"}
 {:juxt.site/base-uri "https://auth.example.org", :juxt.site/installer-path "/_site/permissions/system/bootstrap"}
]
 :install
 {:juxt.site/subject-uri "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-uri "https://auth.example.org/_site/operations/grant-permission"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/operation-uri "https://auth.example.org/_site/operations/get-not-found"}}}
