{:deps
 ["https://auth.example.org/operations/generate-keypair"
  "https://auth.example.org/permissions/system/generate-keypair"]
 :install
 {:juxt.site/subject-id "https://auth.example.org/_site/subjects/system"
  :juxt.site/operation-id "https://auth.example.org/operations/generate-keypair"
  :juxt.site/input
  {:xt/id "{{$id}}"
   :juxt.site/algorithm "RSA"
   :juxt.site/kid "{{kid}}"}}}
